---
id: multi-task_learning_in_speaker_verification
aliases: []
tags: []
---

# multi-task_learning_in_speaker_verification

## 2025/05/08
- Think this paper might be closely related to the reason why the model with LPC classification loss
  performs better than the base model.
